[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
flask = "*"
requests = "*"
flask_assets = "*"
flask_static_compress = "*"
jieba = "*"


[requires]
python_version = "3.7"
